html {
  font-family: "Cabin", sans-serif;
}

h1 {
  font-family: "Pacifico", cursive;
}

h2 {
  font-family: "Pacifico", cursive;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  position: relative;
  max-height: 24rem;
  overflow: hidden;
}

.banner-content {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
}

nav a {
  font-family: "Pacifico", cursive;
  text-decoration: none;
  color: black;
  padding: .3em;
}

nav a:hover {
  color: blue;
}
